.wraper-catitem {
    padding: 36px 24px;
}

.list-cards {
    max-width: 1240px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 24px;
}

.btn-more {
    padding-top: 24px;
    text-align: center;
    a {
        text-decoration: none;
    }
}
