$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobileAndTablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.profile-buys {
    width: 100%;
    padding: 16px 48px;

    .back-btn-profile {
        display: none;

        @include mobile {
            display: flex;
        }
    }
}

.buys-search {
    span {
        display: flex;
        align-items: center;
        border: 1px solid #d7d7d7;
        border-radius: 4px;

        .icon-search {
            display: inline-block;
            width: 36px;
            text-align: center;
            color: #d7d7d7;
            transition: all ease 0.3s;
        }

        input {
            width: 100%;
            border: none;
            padding: 12px 14px 12px 0;
            outline: none;
            font-size: 1.4rem;
        }
    }

    &:focus-within .icon-search {
        color: #333;
    }
}
