.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 15px;
}

.p-dropdown-item {
    font-size: 15px;
}

.p-slider.p-slider-horizontal {
    height: 6px;
}

.p-slider .p-slider-handle {
    height: 1.45rem;
    width: 1.45rem;
}

.p-dropdown-label.p-inputtext {
    font-size: 1.5rem;
}

.p-galleria-thumbnail-item {
    flex: unset !important;
    padding: 0 8px;
}

.p-tabview-title {
    font-size: 1.4rem;
}

.p-rating .p-rating-item .p-rating-icon {
    font-size: 1.6rem;
}
